:root{
    --branco-principal: #FFFFFF;
    --cinza-segundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --font-principal: 'Inter';
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}

.principal{
background-image: url(img/Background.png);
    background-repeat: no-repeat;
background-size: contain;
padding: 7em;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;  
    display: flex;
     
}
.container__botao{
background-color: var(--botao-azul);
border-radius: 5px;
padding: 1em;
color: var(--branco-principal);
display: block;
text-decoration: none;
margin-bottom: 2em;
}

.botao__segundario{
    background-color: transparent;
    border: solid 2px;
    border-color: var(--branco-principal);
    border-radius: 10px;
    padding: 1em;
    text-decoration: none;
    display: block;
    font-family: var(--font-principal);
    color: var(--branco-principal);
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}
.container__imagem {
    margin: 2em 0 2em 0;
    display: flex;
    justify-content: center;

}